@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));


@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-indie-flower: "Indie Flower", cursive;
    --color-light-yellow: #fdfcdc;
    --color-light-orange: #fed9b7;
    --color-bittersweet: #f07167;

    --color-custom-red-100: #ffede0;
    --color-custom-red-150: #fdd3bf;
    --color-custom-red-200: #ff9562;
    --color-custom-red-300: #fe5503;
    --color-custom-red-400: #e54d03;
    --color-custom-red-600: #b23b02;
    --color-custom-red-800: #3d1705;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffede0;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fdd3bf;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fe5503;
}
